.monster-card {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }
  
  .monster-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .property-value {
    display: block;
    margin-bottom: 5px;
  }
  
  /* Para dispositivos menores, exibir os cards em uma coluna */
  @media (max-width: 768px) {
    .monster-card {
      width: 100%;
    }
  }
  